.blockLeft div .buttonLeft a, #sectionServicios2 .blockRight div .buttonRight a {
  padding: 3px 8px;
  font-family: 'Montserrat';
  font-style: italic;
  font-size: 25px;
  border-style: groove;
  font-weight: 700;
  border-radius: .25rem;
  text-decoration: none; }

.blockLeft div h2, #sectionServicios2 .blockRight div h2 {
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 70px;
  text-align: center;
  text-transform: uppercase;
  -webkit-text-stroke: 4px; }

#sectionServicios2 .blockRight img {
  animation-name: focus-in;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  animation-fill-mode: both; }

.blockLeft, #sectionServicios2 .blockRight {
  height: 580px;
  display: flex;
  margin-right: 40px;
  margin-left: 90px;
  padding-top: 30px; }

#sectionContacto2 .dataContacto1, #sectionContacto2 .dataContacto2, #sectionContacto2 .dataContacto3 {
  padding: 10px 10px 15px 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  border-radius: 50px 50px 50px 50px;
  border: 2px solid #000000;
  text-shadow: 1.5px 1px 1px black;
  font-size: 20px; }

/* Body */
body {
  margin: 0px;
  padding: 0px;
  letter-spacing: 2px;
  background-color: #ffe5d4;
  color: #FF3888;
  font-family: "Kaisei Tokumin", serif;
  height: 100vh;
  /* Grid Layout */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 40px 0px;
  grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
  /* Fin grid layout */ }
  body header {
    grid-area: header; }
  body main {
    grid-area: main; }
  body footer {
    grid-area: footer; }

/* Agregado para pisar boostrap */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 3.5rem; }

/* Navbar */
nav {
  background-image: url(../multimedia/images/header-nav.png);
  background-size: cover;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around; }
  nav a img {
    margin: 10px; }
  nav #navList {
    display: flex;
    flex-flow: row nowrap; }
    nav #navList ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      align-items: center; }
      nav #navList ul li a {
        color: #FF3888;
        text-shadow: 2px 2px #ffe5d4;
        -webkit-text-stroke: 1.5px #ffe5d4;
        padding: 10px;
        letter-spacing: 1px;
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        font-size: 31px;
        font-weight: 600;
        text-transform: uppercase;
        transition: all 50ms; }
      nav #navList ul li :hover {
        color: #f8bbd0; }

.showcase {
  position: relative;
  height: 630px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 20px; }
  .showcase .videocontainer {
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 670px;
    overflow: hidden; }
    .showcase .videocontainer video {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      position: absolute;
      top: -35%;
      left: 75%;
      transform: translate(-50%, -50%); }
  .showcase .videocontainer::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.085); }
  .showcase .content {
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: translate(-65%, -40%); }

.secondTitle {
  margin-top: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 70px;
  text-align: center;
  text-transform: capitalize;
  -webkit-text-stroke: 2px #8F1143; }

/* Section Servicios */
#sectionServicios1 {
  height: 620px;
  background-color: #8F1143;
  margin-bottom: 40px; }

.blockLeft {
  flex-flow: row nowrap; }
  .blockLeft img {
    height: 450px;
    width: 380px;
    align-self: center;
    /*bordes*/
    border-radius: 50px 10px 50px 0px;
    /*sombras*/
    box-shadow: 10px 10px 15px 0px #000000;
    /* animation */
    animation-name: focus-in;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    animation-fill-mode: both; }
  .blockLeft div {
    padding-left: 85px;
    align-self: center; }
    .blockLeft div h2 {
      color: #ffe5d4;
      text-shadow: 4px 7px 3px black; }
    .blockLeft div p {
      padding-top: 40px;
      font-family: "Kaisei Tokumin", serif;
      font-size: 20px;
      font-weight: 500;
      font-style: italic;
      line-height: 2;
      color: #ffe5d4; }
    .blockLeft div .buttonLeft {
      transform: translate(20em, 2em); }
      .blockLeft div .buttonLeft a {
        background-color: #00000057;
        color: #ffe5d4;
        border-color: #ffe5d4; }
        .blockLeft div .buttonLeft a:hover {
          background-color: #000000;
          border-color: #FF3888;
          color: #FF3888; }

#sectionServicios2 {
  height: 620px;
  background-color: #ffe5d4;
  margin-bottom: 40px; }
  #sectionServicios2 .blockRight {
    flex-flow: row-reverse nowrap; }
    #sectionServicios2 .blockRight img {
      height: 450px;
      width: 380px;
      align-self: center;
      /*bordes*/
      border-radius: 0px 50px 0px 50px;
      /*sombras*/
      box-shadow: -10px 10px 15px 0px #000000;
      transform: translateX(-15px);
      /* animation */ }
    #sectionServicios2 .blockRight div {
      padding-right: 85px;
      align-self: center; }
      #sectionServicios2 .blockRight div h2 {
        color: black;
        text-shadow: 5px 5px 3.5px #8F1143; }
      #sectionServicios2 .blockRight div p {
        padding-top: 40px;
        font-family: "Kaisei Tokumin", serif;
        font-size: 20px;
        font-weight: 500;
        font-style: italic;
        line-height: 2;
        color: black;
        -webkit-text-stroke: 1px; }
      #sectionServicios2 .blockRight div .buttonRight {
        transform: translate(2em, 2em); }
        #sectionServicios2 .blockRight div .buttonRight a {
          color: #000000;
          background-color: #ffe5d4;
          border-color: #8F1143; }
          #sectionServicios2 .blockRight div .buttonRight a:hover {
            background-color: #000000;
            border-color: #FF3888;
            color: #FF3888; }

#sectionServicios3 {
  height: 620px;
  background-color: #582a78;
  margin-bottom: 40px; }

/* Keyframes image */
@keyframes focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

/* Fin Section Servicios */
/* Section Productos */
.sectionProductos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-bottom: 50px; }
  .sectionProductos .card {
    background-color: #ffe5d4; }
    .sectionProductos .card a {
      background-color: #ffe5d4;
      color: #f8bbd0;
      border-color: #FF3888; }
    .sectionProductos .card a:hover {
      color: #ffffff;
      background-color: #FF3888; }
    .sectionProductos .card p {
      color: #f8bbd0; }

/* Section Galeria */
.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center; }
  .container .boxTitle {
    margin: 37px 0px; }

.frame {
  width: 600px;
  height: 600px;
  border-radius: 25px;
  box-shadow: 0px 0px 31px 15px #000000;
  overflow: hidden;
  background: #f8bbd0;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px;
  margin-bottom: 30px; }

.box-galery {
  width: 100%;
  height: 100%;
  grid-gap: 5px;
  position: relative;
  margin: 0px;
  padding: 0px;
  z-index: 1; }
  .box-galery > [type=checkbox] {
    display: none; }
  .box-galery .imgs {
    --zi: calc(100% / 3 - 3px);
    width: var(--zi);
    height: var(--zi);
    object-fit: cover;
    transition: 0.2s;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    background-position: center;
    background-size: cover;
    margin: auto;
    transition-timing-function: linear; }
  .box-galery .img1 {
    background-image: url(../multimedia/images/imagen-galeria-1.jpg); }
  .box-galery .img2 {
    left: var(--zi);
    background-image: url(../multimedia/images/imagen-galeria-2.jpg);
    left: 0;
    right: 0; }
  .box-galery .img3 {
    background-image: url(../multimedia/images/imagen-galeria-3.jpg);
    right: 0; }
  .box-galery .img4 {
    background-image: url(../multimedia/images/imagen-galeria-4.jpg);
    top: 0;
    bottom: 0; }
  .box-galery .img5 {
    background-image: url(../multimedia/images/imagen-galeria-5.jpg);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .box-galery .img6 {
    background-image: url(../multimedia/images/imagen-galeria-6.jpg);
    right: 0;
    top: 0;
    bottom: 0; }
  .box-galery .img7 {
    background-image: url(../multimedia/images/imagen-galeria-7.jpg);
    bottom: 0; }
  .box-galery .img8 {
    background-image: url(../multimedia/images/imagen-galeria-8.jpg);
    right: 0;
    left: 0;
    bottom: 0; }
  .box-galery .img9 {
    background-image: url(../multimedia/images/imagen-galeria-9.jpg);
    right: 0;
    bottom: 0; }

#btn1:checked ~ .img1 {
  width: 100%;
  height: 100%;
  z-index: 10; }

#btn2:checked ~ .img2 {
  width: 100%;
  height: 100%;
  z-index: 10; }

#btn3:checked ~ .img3 {
  width: 100%;
  height: 100%;
  z-index: 10; }

#btn4:checked ~ .img4 {
  width: 100%;
  height: 100%;
  z-index: 10; }

#btn5:checked ~ .img5 {
  width: 100%;
  height: 100%;
  z-index: 10; }

#btn6:checked ~ .img6 {
  width: 100%;
  height: 100%;
  z-index: 10; }

#btn7:checked ~ .img7 {
  width: 100%;
  height: 100%;
  z-index: 10; }

#btn8:checked ~ .img8 {
  width: 100%;
  height: 100%;
  z-index: 10; }

#btn9:checked ~ .img9 {
  width: 100%;
  height: 100%;
  z-index: 10; }

/* Fin Section Galeria */
/* Section Contacto */
#sectionContacto1 {
  margin-top: 3em; }
  #sectionContacto1 div .imgContacto {
    align-self: center;
    padding-left: 100px; }
  #sectionContacto1 div label {
    font-family: "Montserrat", sans-serif;
    color: #000000;
    -webkit-text-stroke: 1px;
    text-transform: uppercase; }
  #sectionContacto1 div button {
    background-color: #ffe5d4;
    border-color: #000000;
    color: #000000; }

#sectionContacto2 {
  margin-top: 7.5em; }
  #sectionContacto2 .blockContacto1 {
    text-align: center;
    justify-content: space-evenly; }
  #sectionContacto2 .blockContacto2 {
    text-align: center;
    margin-top: 3.5em;
    justify-content: space-evenly; }
  #sectionContacto2 .dataContacto1 {
    background-color: #582a78;
    color: #ffe5d4; }
    #sectionContacto2 .dataContacto1 iframe {
      align-self: center;
      width: 85%;
      height: 85%; }
  #sectionContacto2 .dataContacto2 {
    background-color: #8F1143;
    color: #ffe5d4; }
  #sectionContacto2 .dataContacto3 {
    color: #000000;
    -webkit-text-stroke: 1px;
    text-shadow: none; }

/* Fin Section Contacto */
/* Footer */
footer {
  display: flex;
  flex-flow: row nowrap; }
  footer p {
    color: #FF3888;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.5em; }
  footer ul {
    list-style: none;
    text-align: right;
    display: flex;
    flex-flow: row nowrap; }
    footer ul li {
      padding: 0px 30px; }

/* Mobile */
@media screen and (max-width: 460px), (max-width: 600px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "header" "main" "footer"; }
  /* Navbar */
  nav {
    flex-direction: column; }
    nav #navList ul {
      display: block;
      text-align: left;
      padding: 0px; }
  /* Section Home */
  /* Section Servicios */
  .secondTitle {
    font-size: 50px; }
  #sectionServicios1 {
    max-width: 425px; }
  .blockLeft {
    flex-flow: column nowrap;
    margin: 0px; }
    .blockLeft img {
      background-position: left;
      height: 225px;
      width: 190px; }
    .blockLeft div {
      font-size: 30px;
      padding: 15px; }
      .blockLeft div h2 {
        font-size: 30px;
        text-align: left; }
      .blockLeft div p {
        padding: 0px;
        margin: 0px;
        line-height: 1.7em;
        font-size: 15px;
        text-align: left; }
      .blockLeft div .buttonLeft {
        transform: none;
        padding: 0px; }
        .blockLeft div .buttonLeft a {
          font-size: 15px; }
  #sectionServicios2 {
    max-width: 425px; }
    #sectionServicios2 .blockRight {
      flex-flow: column nowrap;
      margin: 0px; }
      #sectionServicios2 .blockRight img {
        background-position: left;
        height: 225px;
        width: 190px; }
      #sectionServicios2 .blockRight div {
        font-size: 30px;
        padding: 15px; }
        #sectionServicios2 .blockRight div h2 {
          font-size: 35px;
          text-align: left; }
        #sectionServicios2 .blockRight div p {
          padding: 0px;
          margin: 0px;
          line-height: 1.7em;
          font-size: 15px;
          text-align: left; }
        #sectionServicios2 .blockRight div .buttonRight {
          transform: none;
          padding: 0px; }
          #sectionServicios2 .blockRight div .buttonRight a {
            font-size: 15px; }
  #sectionServicios3 {
    max-width: 425px; }
  footer {
    display: block; }
    footer li {
      padding: 0px 15px; }
  .frame {
    width: 380px;
    height: 380px; } }

/* Tablet */
@media screen and (max-width: 800px) {
  /* Navbar */
  nav #navList ul {
    display: block;
    text-align: left;
    padding: 0px; }
  /* Section Servicios */
  #sectionServicios1 {
    max-width: 768px; }
  .blockLeft {
    flex-flow: column nowrap;
    margin: 0px; }
    .blockLeft img {
      background-position: left;
      height: 225px;
      width: 190px; }
    .blockLeft div {
      font-size: 30px;
      padding: 15px; }
      .blockLeft div h2 {
        font-size: 30px;
        text-align: left; }
      .blockLeft div p {
        padding: 0px;
        margin: 0px;
        line-height: 1.7em;
        font-size: 15px;
        text-align: left; }
      .blockLeft div .buttonLeft {
        transform: none;
        padding: 0px; }
        .blockLeft div .buttonLeft a {
          font-size: 15px; }
  #sectionServicios2 {
    max-width: 768px; }
    #sectionServicios2 .blockRight {
      flex-flow: column nowrap;
      margin: 0px; }
      #sectionServicios2 .blockRight img {
        background-position: left;
        height: 225px;
        width: 190px; }
      #sectionServicios2 .blockRight div {
        font-size: 30px;
        padding: 15px; }
        #sectionServicios2 .blockRight div h2 {
          font-size: 35px;
          text-align: left; }
        #sectionServicios2 .blockRight div p {
          padding: 0px;
          margin: 0px;
          line-height: 1.7em;
          font-size: 15px;
          text-align: left; }
        #sectionServicios2 .blockRight div .buttonRight {
          transform: none;
          padding: 0px; }
          #sectionServicios2 .blockRight div .buttonRight a {
            font-size: 15px; }
  #sectionServicios3 {
    max-width: 768px; }
  /* Section contacto */
  #sectionContacto2 p {
    font-size: 15px; } }
