.blockLeft div .buttonLeft a, #sectionServicios2 .blockRight div .buttonRight a {
  padding: 3px 8px;
  font-family: 'Montserrat';
  font-style: italic;
  font-size: 25px;
  border-style: groove;
  font-weight: 700;
  border-radius: .25rem;
  text-decoration: none; }

.blockLeft div h2, #sectionServicios2 .blockRight div h2 {
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 70px;
  text-align: center;
  text-transform: uppercase;
  -webkit-text-stroke: 4px; }

#sectionServicios2 .blockRight img {
  animation-name: focus-in;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  animation-fill-mode: both; }

.blockLeft, #sectionServicios2 .blockRight {
  height: 580px;
  display: flex;
  margin-right: 40px;
  margin-left: 90px;
  padding-top: 30px; }

/* Body */
body {
  margin: 0px;
  padding: 0px;
  letter-spacing: 2px;
  background-color: #ffe5d4;
  color: #FF3888;
  font-family: "Kaisei Tokumin", serif;
  height: 100vh;
  /* Grid Layout */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 40px 0px;
  grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
  /* Fin grid layout */ }
  body header {
    grid-area: header; }
  body main {
    grid-area: main; }
  body footer {
    grid-area: footer; }

/* Agregado para pisar boostrap */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 3.5rem; }

/* Navbar */
nav {
  background-image: url(../multimedia/images/header-nav.png);
  background-size: cover;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around; }
  nav a img {
    margin: 10px; }
  nav #navList {
    display: flex;
    flex-flow: row nowrap; }
    nav #navList ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      align-items: center; }
      nav #navList ul li a {
        color: #FF3888;
        text-shadow: 2px 2px #ffe5d4;
        -webkit-text-stroke: 1.5px #ffe5d4;
        padding: 10px;
        letter-spacing: 1px;
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        font-size: 31px;
        font-weight: 600;
        text-transform: uppercase;
        transition: all 50ms; }
      nav #navList ul li :hover {
        color: #f8bbd0; }

/* Section home */
#sectionHome {
  background-image: url("../multimedia/images/fotohome2.jpg");
  height: 670px;
  background-size: cover;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize; }
  #sectionHome h1 {
    font-size: 160px; }
  #sectionHome h2 {
    font-size: 80px; }

.secondTitle {
  margin-top: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 70px;
  text-align: center;
  text-transform: capitalize;
  -webkit-text-stroke: 2px #8F1143; }

/* Section Servicios */
#sectionServicios1 {
  height: 620px;
  background-color: #8F1143;
  margin-bottom: 40px; }

.blockLeft {
  flex-flow: row nowrap; }
  .blockLeft img {
    height: 550px;
    width: 380px;
    /*bordes*/
    border-radius: 100px 10px 100px 10px;
    -moz-border-radius: 100px 10px 100px 10px;
    -webkit-border-radius: 100px 10px 100px 10px;
    border: 2px solid #8F1143;
    /*sombras*/
    -webkit-box-shadow: 10px 10px 15px 0px #000000;
    -moz-box-shadow: 10px 10px 15px 0px #000000;
    box-shadow: 10px 10px 15px 0px #000000;
    /* animation */
    animation-name: focus-in;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    animation-fill-mode: both; }
  .blockLeft div {
    padding-left: 85px; }
    .blockLeft div h2 {
      color: #ffe5d4;
      text-shadow: 4px 7px 3px black; }
    .blockLeft div p {
      padding-top: 40px;
      font-family: "Kaisei Tokumin", serif;
      font-size: 20px;
      font-weight: 500;
      font-style: italic;
      line-height: 2;
      color: #ffe5d4; }
    .blockLeft div .buttonLeft {
      transform: translate(20em, 2em); }
      .blockLeft div .buttonLeft a {
        background-color: #00000057;
        color: #ffe5d4;
        border-color: #ffe5d4; }
        .blockLeft div .buttonLeft a:hover {
          background-color: #000000;
          border-color: #FF3888;
          color: #FF3888; }

#sectionServicios2 {
  height: 620px;
  background-color: #ffe5d4;
  margin-bottom: 40px; }
  #sectionServicios2 .blockRight {
    flex-flow: row-reverse nowrap; }
    #sectionServicios2 .blockRight img {
      height: 550px;
      width: 380px;
      /*bordes*/
      border-radius: 10px 100px 10px 100px;
      -moz-border-radius: 10px 100px 10px 100px;
      -webkit-border-radius: 10px 100px 10px 100px;
      border: 2px solid #ffe5d4;
      /*sombras*/
      -webkit-box-shadow: -10px 10px 15px 0px #000000;
      -moz-box-shadow: -10px 10px 15px 0px #000000;
      box-shadow: -10px 10px 15px 0px #000000;
      transform: translateX(-15px);
      /* animation */ }
    #sectionServicios2 .blockRight div {
      padding-right: 85px; }
      #sectionServicios2 .blockRight div h2 {
        color: black;
        text-shadow: 5px 5px 3.5px #8F1143; }
      #sectionServicios2 .blockRight div p {
        padding-top: 40px;
        font-family: "Kaisei Tokumin", serif;
        font-size: 20px;
        font-weight: 500;
        font-style: italic;
        line-height: 2;
        color: black;
        -webkit-text-stroke: 1px; }
      #sectionServicios2 .blockRight div .buttonRight {
        transform: translate(2em, 2em); }
        #sectionServicios2 .blockRight div .buttonRight a {
          color: #000000;
          background-color: #ffe5d4;
          border-color: #8F1143; }
          #sectionServicios2 .blockRight div .buttonRight a:hover {
            background-color: #000000;
            border-color: #FF3888;
            color: #FF3888; }

#sectionServicios3 {
  height: 620px;
  background-color: #582a78;
  margin-bottom: 40px; }

/* Keyframes image */
@keyframes focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

/* Section Productos */
.sectionProductos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-bottom: 50px; }
  .sectionProductos .card {
    background-color: #ffe5d4; }
    .sectionProductos .card a {
      background-color: #ffe5d4;
      color: #f8bbd0;
      border-color: #FF3888; }
    .sectionProductos .card a:hover {
      color: #ffffff;
      background-color: #FF3888; }
    .sectionProductos .card p {
      color: #f8bbd0; }

/* Section Galeria */
.container {
  width: 50%; }

#sectionGaleria h2 {
  margin: 30px 0px 60px 0px; }

/* Section Contacto */
#sectionContacto table {
  padding: 10px;
  font-weight: 400; }

#sectionContacto .btn-primary {
  background-color: #ffe5d4;
  border-color: #FF3888;
  color: #FF3888; }
  #sectionContacto .btn-primary :hover {
    background-color: #ffe5d4;
    border-color: #f8bbd0;
    color: #f8bbd0; }

/* Footer */
footer {
  display: flex;
  flex-flow: row nowrap; }
  footer p {
    color: #FF3888;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.5em; }
  footer ul {
    list-style: none;
    text-align: right;
    display: flex;
    flex-flow: row nowrap; }
    footer ul li {
      padding: 0px 30px; }

/* Mobile */
@media screen and (max-width: 450px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "header" "main" "footer"; }
  /* Navbar */
  nav {
    flex-direction: column; }
    nav #navList ul {
      display: block;
      text-align: left;
      padding: 0px; }
  /* Section Home */
  #sectionHome {
    text-align: left;
    background-position: left;
    max-width: 425px; }
    #sectionHome h1 {
      font-size: 70px;
      text-align: left; }
    #sectionHome h2 {
      font-size: 50px;
      text-align: left; }
    #sectionHome .secondTitle {
      font-size: 50px;
      text-align: left;
      text-transform: capitalize; }
  /* Section Servicios */
  #sectionServicios .secondTitle {
    font-size: 40px;
    text-align: left;
    text-transform: capitalize; }
  #sectionServicios .titleServicios {
    font-size: 25px;
    text-align: left; }
  #sectionServicios .textServicios {
    padding: 0px;
    font-size: 20px;
    text-align: left; }
  #sectionServicios .blockLeft {
    margin: 0px 15px;
    display: block; }
  #sectionServicios .buttonLeft {
    padding-bottom: 20px; }
    #sectionServicios .buttonLeft a {
      margin: 0px 15px;
      display: block;
      transform: none; }
  #sectionServicios .blockRight {
    margin: 0px 15px;
    display: block; }
  #sectionServicios .buttonRight {
    padding-bottom: 20px; }
    #sectionServicios .buttonRight a {
      margin: 0px 15px;
      display: block;
      transform: none; }
  footer {
    display: block; }
    footer li {
      padding: 0px 15px; }
  /* Section contacto */
  #sectionContacto table {
    text-align: left; }
  #sectionContacto iframe {
    width: 275px;
    height: 225px; } }

/* Tablet */
@media screen and (max-width: 800px) {
  /* Navbar */
  nav #navList ul {
    display: block;
    text-align: left;
    padding: 0px; }
  #sectionServicios .buttonLeft {
    padding-bottom: 20px; }
    #sectionServicios .buttonLeft a {
      margin: 0px 15px;
      display: block;
      transform: none; }
  #sectionServicios .buttonRight {
    padding-bottom: 20px; }
    #sectionServicios .buttonRight a {
      margin: 0px 15px;
      display: block;
      transform: none; } }
