
footer {
    color:$color-first;
    font-family: $font-primary;
    font-weight: 400;
    font-size: 1.5em;
    display: flex;
    -webkit-text-stroke: 1.5px $color-shadow;
    ul {
        list-style: none;
        text-align: right;
        display: flex;
        li {
            padding: 0px 30px;
        }
    }
}