/* Section Contacto */
#sectionContacto {
    table {
        padding: 10px;
        font-weight: 400;
    }
    .btn-primary {
        background-color: $color-third;
        border-color: $color-first;
        color: $color-first; 
        :hover {
            background-color: $color-third;
            border-color: $color-second;
            color: $color-second;
        }    
    }
        
    
}
