/* Section Servicios */

#sectionServicios1 {
    @include sectionServicios ($color-three)
}
.blockLeft {
    @extend %styleBlock;
    flex-flow: row nowrap;
    img {
        height: 450px;
        width: 380px;
        align-self: center;
        /*bordes*/
        border-radius: 50px 10px 50px 0px;
        /*sombras*/
        box-shadow: 10px 10px 15px 0px $color-five;
        /* animation */
        animation-name: focus-in;
        animation-duration: 1s;
        animation-timing-function:cubic-bezier(0.550, 0.085, 0.680, 0.530);
        animation-fill-mode: both;
    }
    div{
        padding-left: 85px;
        align-self: center;
        h2 {
            @extend %titleServicios;
            color:$color-one;
            text-shadow: 4px 7px 3px black;
        }
        p {
            padding-top: 40px;
            font-family: $font-secondary;
            font-size: 20px;
            font-weight: 500;
            font-style: italic;
            line-height: 2;
            color:$color-one;
        }
        .buttonLeft {
            transform: translate(20em, 2em);
            a{
                @extend %blockButtons;
                background-color: $color-six;
                color: $color-one;
                border-color: $color-one;
                &:hover {
                    background-color: $color-five;
                    border-color: $color-four;
                    color: $color-four ;
                }
            }
        }
    }
}
#sectionServicios2 {
    @include sectionServicios($color-one);
    .blockRight {
        @extend %styleBlock;
        flex-flow: row-reverse nowrap;
        img {
            height: 450px;
            width: 380px;
            align-self: center;
            /*bordes*/ 
            border-radius: 0px 50px 0px 50px;
            /*sombras*/
            box-shadow: -10px 10px 15px 0px $color-five;
            transform: translateX(-15px); 
            /* animation */
            @extend %animationImgserv;
        }
        div {
            padding-right: 85px;
            align-self: center;
            h2 {
                @extend %titleServicios;
                color:black;
                text-shadow: 5px 5px 3.5px $color-three;
            }
            p{
                padding-top: 40px;
                font-family: $font-secondary;
                font-size: 20px;
                font-weight: 500;
                font-style: italic;
                line-height: 2;
                color:black;
                -webkit-text-stroke: 1px;
            }
            .buttonRight {
                transform: translate(2em, 2em);
                a {
                    @extend %blockButtons;
                    color:$color-five;
                    background-color:$color-one;
                    border-color: $color-three;
                    &:hover {
                        background-color: $color-five;
                        border-color: $color-four;
                        color:$color-four ;
                    }
                }

            }
        }
    }
}
#sectionServicios3 {
    @include sectionServicios($color-seven)
}

/* Keyframes image */
@keyframes focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
}
/* Fin Section Servicios */



