/* Section Productos */
.sectionProductos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-bottom: 50px;
    .card {
        background-color: $color-third;
        a {
            background-color: $color-third;
            color: $color-second;
            border-color: $color-first;
        }
        a:hover {
            color: #ffffff;
            background-color: $color-first;
        }
        p{
            color: $color-second;
        }
        
    }
}