/* Mobile */
@media screen and (max-width: 460px), (max-width:600px) {
    body {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            "header"
            "main"
            "footer";
    }

    /* Navbar */

    nav {
        flex-direction: column;
        #navList ul {
            display: block;
            text-align: left;
            padding: 0px;
        }
    }

    /* Section Home */
    
        // h1{
        //     font-size: 70px;
        //     text-align: left;
        // }
        // h2 {
        //     font-size: 50px;
        //     text-align: left;
        // }
        // .secondTitle {
        //     font-size: 50px;
        //     text-align: left;
        //     text-transform: capitalize;
        // }
    // } 
    

    /* Section Servicios */
    .secondTitle {
        font-size: 50px;
    }
    #sectionServicios1 {
        max-width: 425px;
    }
    .blockLeft {
        flex-flow: column nowrap;
        margin:0px;
        img {
            background-position: left;
            height: 225px;
            width: 190px;
        }
        div {
            font-size: 30px;
            padding: 15px;
            h2 {
                font-size: 30px;
                text-align: left;
            }
            p {
                padding: 0px;
                margin: 0px;
                line-height: 1.7em;
                font-size: 15px;
                text-align: left;
            }
            .buttonLeft {
                transform:none;
                padding:0px;
                a {
                    font-size: 15px;
                }

            }
        }
    }
    #sectionServicios2 {
        max-width: 425px;
        
        .blockRight {
            flex-flow: column nowrap;
            margin:0px;
            img {
                background-position: left;
                height: 225px;
                width: 190px;
            }
            div {
                font-size: 30px;
                padding: 15px;
                h2 {
                    font-size: 35px;
                    text-align: left;
                }
                p {
                    padding: 0px;
                    margin: 0px;
                    line-height: 1.7em;
                    font-size: 15px;
                    text-align: left;
                }
                .buttonRight {
                    transform:none;
                    padding:0px;
                    a {
                        font-size: 15px;
                    }
    
                }
            }
        }
    }
    #sectionServicios3 {
        max-width: 425px;
    }

    footer {
    display:block;
        li {
        padding: 0px 15px
        }
    }

    /* Section contacto */
    
        
        // iframe {
        //     width: 275px;
        //     height: 225px;
        // }

    
}
/* Tablet */
@media screen and (max-width: 800px) {
    /* Navbar */
    nav {
        #navList ul {
            display: block;
            text-align: left;
            padding: 0px;
        }
    }

    /* Section Servicios */
    
    #sectionServicios1 {
        max-width: 768px;
        
    }
    .blockLeft {
        flex-flow: column nowrap;
        margin:0px;
        img {
            background-position: left;
            height: 225px;
            width: 190px;
        }
        div {
            font-size: 30px;
            padding: 15px;
            h2 {
                font-size: 30px;
                text-align: left;
            }
            p {
                padding: 0px;
                margin: 0px;
                line-height: 1.7em;
                font-size: 15px;
                text-align: left;
            }
            .buttonLeft {
                transform:none;
                padding:0px;
                a {
                    font-size: 15px;
                }

            }
        }
    }
    #sectionServicios2 {
        max-width: 768px;
        .blockRight {
            flex-flow: column nowrap;
            margin:0px;
            img {
                background-position: left;
                height: 225px;
                width: 190px;
            }
            div {
                font-size: 30px;
                padding: 15px;
                h2 {
                    font-size: 35px;
                    text-align: left;
                }
                p {
                    padding: 0px;
                    margin: 0px;
                    line-height: 1.7em;
                    font-size: 15px;
                    text-align: left;
                }
                .buttonRight {
                    transform:none;
                    padding:0px;
                    a {
                        font-size: 15px;
                    }
    
                }
            }
        }
    }
    #sectionServicios3 {
        max-width: 768px;
    }
    
    /* Section contacto */
    #sectionContacto2 {
        p {
            font-size: 15px;
        }
    }
    
}