
/* Mobile */

@media screen and (max-width: 460px), (max-width:600px) {
    body {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            "header"
            "main"
            "footer";
    }

    /* Navbar */
    .navbar {
        margin-bottom: 25px;
        .navbar-nav {
            .nav-item {
                .nav-link {
                    -webkit-text-stroke: 1.5px $color-five;
                    padding: 6px;
                    font-size: 25px;
                }
            }
        }
    }
    .nav-link {
        -webkit-text-stroke: 1.5px $color-five;
        padding: 6px;
        font-size: 25px;
    }
    .container-fluid {
        max-width: 100%;
    }
    

    /* Section Home */
        .content {
            transform: translate(0%, -60%);
            padding-left: 25px;
            #titleHome1 {
                font-size: 80px;
            }
            #titleHome2 {
                font-size: 30px;
                text-shadow: 1px 2px 1px black;
            }
        }
    

    /* Section Servicios */
    .secondTitle {
        font-size: 50px;
    }
    #sectionServicios1 {
        max-width: 425px;
    }
    .blockLeft {
        flex-flow: column nowrap;
        margin:0px;
        img {
            background-position: left;
            height: 225px;
            width: 190px;
        }
        div {
            font-size: 30px;
            padding: 15px;
            h2 {
                font-size: 30px;
                text-align: left;
            }
            p {
                padding: 0px;
                margin: 0px;
                line-height: 1.7em;
                font-size: 15px;
                text-align: left;
            }
            .buttonLeft {
                transform:none;
                padding:0px;
                a {
                    font-size: 15px;
                }

            }
        }
    }
    #sectionServicios2 {
        max-width: 425px;
        
        .blockRight {
            flex-flow: column nowrap;
            margin:0px;
            img {
                background-position: left;
                height: 225px;
                width: 190px;
            }
            div {
                font-size: 30px;
                padding: 15px;
                h2 {
                    font-size: 35px;
                    text-align: left;
                }
                p {
                    padding: 0px;
                    margin: 0px;
                    line-height: 1.7em;
                    font-size: 15px;
                    text-align: left;
                }
                .buttonRight {
                    transform:none;
                    padding:0px;
                    a {
                        font-size: 15px;
                    }
    
                }
            }
        }
    }
    #sectionServicios3 {
        max-width: 425px;
    }

    footer {
    display:block;
        p{
            font-size: 1.5em;
        }
        li {
        padding: 0px 15px
        }
    }

    // Galeria
    .frame {
        width: 380px;
        height: 380px;
    }

    #sectionContacto1 {
        margin-top: 3em;
        div {
            .imgContacto {
                max-width: 400px;
                padding-left: 0px;
            }
        }
    }

}

/* Tablet */

@media screen and (max-width: 800px) {
    
    .showcase {
        .content {
            transform: translate(-10%, -55%);
            #titleHome1 {
                font-size: 80px;
            }
            #titleHome2 {
                font-size: 30px;
                text-shadow: 1px 2px 1px black;
            }
        }
    }
    /* Section Servicios */
    
    #sectionServicios1 {
        max-width: 768px;
        
    }
    .blockLeft {
        flex-flow: column nowrap;
        margin:0px;
        img {
            background-position: left;
            height: 225px;
            width: 190px;
        }
        div {
            font-size: 30px;
            padding: 15px;
            h2 {
                font-size: 30px;
                text-align: left;
            }
            p {
                padding: 0px;
                margin: 0px;
                line-height: 1.7em;
                font-size: 15px;
                text-align: left;
            }
            .buttonLeft {
                transform:none;
                padding:0px;
                a {
                    font-size: 15px;
                }

            }
        }
    }
    #sectionServicios2 {
        max-width: 768px;
        .blockRight {
            flex-flow: column nowrap;
            margin:0px;
            img {
                background-position: left;
                height: 225px;
                width: 190px;
            }
            div {
                font-size: 30px;
                padding: 15px;
                h2 {
                    font-size: 35px;
                    text-align: left;
                }
                p {
                    padding: 0px;
                    margin: 0px;
                    line-height: 1.7em;
                    font-size: 15px;
                    text-align: left;
                }
                .buttonRight {
                    transform:none;
                    padding:0px;
                    a {
                        font-size: 15px;
                    }
    
                }
            }
        }
    }
    #sectionServicios3 {
        max-width: 768px;
    }
    
    /* Section contacto */
    .blockContacto{
        display: block;
    }
    #sectionContacto2 {
        p {
            font-size: 15px;
        }
    }
    
}