$font-primary:'Montserrat', sans-serif;
$font-secondary:'Kaisei Tokumin', serif;
$color-first:#FF3888;
$color-second:#f8bbd0;
$color-third:#000000;
$color-shadow:#8F1143;

// Mix 
// Page servicios
@mixin blockButtons {
    font-style: italic;
    font-size: 25px;
    color: $color-first;
    font-weight: 700;
    background-color:$color-third;
    border-style: dashed;
    border-color: $color-first; 
}
